{% extends  'main/base.html' %}

{% block title%} Evento {%endblock%}

{% block content %}
<section id="two" class="wrapper style2 spotlights">
    {% for evento in lista_eventos %}
    <section>
        <a href="#" class="image"><img src="{{evento.imagen.url}}" alt="" data-position="center center" width=350em height=390em /></a>
        <div class="content">
            <div class="inner">
                    <h2>{{ evento.nombre }}</h2>
                    <h4>{{evento.fecha_evento}} - {{ evento.hs_inicio}} hs</h4>
                    <p>{{evento.descripcion}}
                    <ul class="actions">
                        <li><a href="generic.html" class="button">Ver mas</a></li>
                    </ul>
            </div>
        </div>
    </section>
    {% empty %}
    <section>
		{%load staticfiles%}
        <a href="#" class="image"><img src="{% static" /media/imagenEvento/default.jpg "%}" alt="" data-position="center center" width=350em height=390em /></a>
        <div class="content">
            <div class="inner">
                    <h2>No hay eventos disponibles!</h2>

            </div>
        </div>
    </section>
    {% endfor %}
</section>
{% endblock %}
