{% extends 'main/base.html' %}
{%block title%} Carta {%endblock%}
{%block content%}
<section id="one" class="wrapper style3 fade-up">
   <div class="inner">
       <h2>{{general.titulo}}</h2>
       <p>{{general.descripcion}}</p>
        <div class="features">
            {% for h in horarios %}
            <section>
                <span class="icon major fa-diamond"></span>
                <h3>{{h.momento}}</h3>
                {% if h.descripcion != 'no posee' %}
                    <h5>{{h.descripcion}}</h5>
                {% endif %}
                <ul>
                {% for m in lista_menu %}
                    {% if m.hs_dia == h %}
                    <li>{{m.nombre}}</li>
                    <h6>{{m.descripcion}}{%if m.precio%} /${{m.precio}}{%endif%}</h6>  
                    {%endif%}
                {%endfor%}
            </section>
            {%endfor%}
        </div>
    </div>
</section>
{%endblock%}
