{% extends  'main/generic.html' %}

{% block title%} Transmision en Vivo{%endblock%}

{% block content %}
<div id="wrapper">
<!-- Main -->
    <section id="main" class="wrapper">
		<div class="inner">
            {% if status  %}
                <center><embed src="http://179.43.112.52:8000/transmision.ogg" type="video/ogg" controller="true" autoplay="true" height="400" width="400"></embed></center>
            {% else %}
                <center><h3>No hay transmisiones disponibles en este momento!</h3></center>
            {% endif %}
		</div>
	</section>
</div>
{% endblock %}
